# Discord Bot Configuration
# https://discord.com/developers/applications

DISCORD_TOKEN=your_token_here
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_GUILD_ID=your_guild_id_here

# Role IDs
ROLE_ADMIN_ID=your_role_admin_id_here
ROLE_KHONTO_ID=your_role_khonto_id_here
ROLE_DEK_ID=your_role_dek_id_here
ROLE_NEWCOMER_ID=your_role_newcomer_id_here

# Channel IDs
CHANNEL_GENERAL_ID=your_channel_general_id_here
CHANNEL_VERIFY_ADMIN_ID=your_channel_verify_admin_id_here